@model IEnumerable<Bookstore.Models.Domain.Book>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutUnlogged.cshtml";
}

<div class="jumbotron">
    <p class="lead">
        @using (Html.BeginForm())
        {
        <div class="form-group">
            @Html.Label("Szukaj tytułu:", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.Editor("TitleToSearch", new { htmlAttributes = new { @class = "form-control" } })
            <input type="submit" value="Szukaj" class="btn btn-default" />
            @Html.ActionLink("Wyczyść", "Search", "Home", new { @class = "btn btn-default" })

        </div>
        }   
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

        </tr>
    }
</table>